:root {
  background-image: url('../public/imagenes/fondo.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

