:root {
  background: linear-gradient(89deg, #000000, #ffffff,  #000000);
  background-size: 800% 800%;
  -webkit-animation: GradiantCicle 31s ease infinite;
  -moz-animation: GradiantCicle 31s ease infinite;
  animation: GradiantCicle 31s ease infinite;
  padding: 0;
  margin: 0;
}

@-webkit-keyframes GradiantCicle {
  0%{background-position:0% 46%}
  50%{background-position:100% 55%}
  100%{background-position:0% 46%}
}
@-moz-keyframes GradiantCicle {
  0%{background-position:0% 46%}
  50%{background-position:100% 55%}
  100%{background-position:0% 46%}
}
@keyframes GradiantCicle {
  0%{background-position:0% 46%}
  50%{background-position:100% 55%}
  100%{background-position:0% 46%}
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}