.DivMayor{
    display: contents;

}
.divForm{
    background-color: rgba(0, 0, 0, 0.8);
    margin-left:25%;
    width: fit-content;
    height: fit-content;
}
.Divcontainer{
    margin-top: 8rem;
    width: 52rem;
    height: 20rem;
    padding: 2rem;

}
.labelContainer{
    background-color: none;
    justify-content: center;
    width: fit-content;
}
.label{
    color:white;
    background-color: none;
}
.labelContainer input{
    color: black;
    
}
.labelContainer p{
    color: white;
    background-color: none;
}
.inputText {
    width: 40rem;
    height: 10rem;
    padding: 0; 
    margin: 0; 
    border: none; 
    line-height: normal; 
    resize: none; 
    overflow: auto;
}
.divButton{
    display: flex;
}
.divButton button{
    margin-left: 40%;
    border-radius: 2rem;
    border: solid black;
}
.divButton button:hover{
    color: white;
    background-color: black;
}
.Footer{
    margin-top: 1rem;
    width: 100%;
    display: inline-flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    justify-items: center;
}
.Footer p{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 3rem;
    margin-right: 3rem;
}
.Footer a{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none; 
}

@media screen and (max-device-width: 768px) and (orientation: portrait) {
    .DivMayor {
        display: contents;
    }

    .divForm {
        margin-left: 0; 
        width: 100%;
    }

    .Divcontainer {
        margin-top: 4rem; 
        width: 90%; 
        height: auto; 
    }

    .labelContainer {
        justify-content: center; 
        width: 100%; 
    }

    .label {
        background-color: none;
    }

    .labelContainer input {
        color: black;
        background-color: white;
    }

    .labelContainer p {
        background-color: none;
    }

    .inputText {
        width: 100%; 
        height: auto;
    }

    .divButton {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .divButton button {
        margin: 1rem 0; 
        border-radius: 2rem;
    }
    .Footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}